In [2]:
import pandas as pd

In [14]:
df = pd.read_csv("BOPI_MQ_TM_1922.csv")

In [4]:
df.head()

,Année du BOPI,Numéro de pages du BOPI,Lettres alphabétiques,Noms des déposants,Numéro de classe,Numéro des pages correspondantes,ERRATA,Numéro de la marque,Renonciation totale,Renonciation partielle
0,1922,5,A,Aachener Thermalwasser Kaiserbrunnen A G (Soci...,888,NaN,NaN,NaN,NaN,NaN
1,1922,5,A,Abadie (Mlle M.L.),584,NaN,NaN,NaN,NaN,NaN
2,1922,5,A,Abadie (Société anonyme des Papiers),"1088, 1737, 1793, 1794, 1795, 1796",NaN,NaN,NaN,NaN,NaN
3,1922,5,A,Abadie Léotard (E.),"506, 538",NaN,NaN,NaN,NaN,NaN
4,1922,5,A,Abbat (G.) & Guenet (M.),1464,NaN,NaN,NaN,NaN,NaN

In [5]:
df.columns

Index(['Année du BOPI', 'Numéro de pages du BOPI', 'Lettres alphabétiques',
       'Noms des déposants', 'Numéro de classe',
       'Numéro des pages correspondantes', 'ERRATA', 'Numéro de la marque',
       'Renonciation totale', 'Renonciation partielle'],
      dtype='object')

In [8]:
def parse_page_numbers(val):
    if pd.isna(val):
        return []
    return [int(v.strip()) for v in str(val).split(',') if v.strip().isdigit()]

# Apply to the specific column
df['Numéro de classe'] = df['Numéro de classe'].apply(parse_page_numbers)

# Example: Filter rows where page number 1088 appears
filtered_df = df[df['Numéro de classe'].apply(lambda x: 1088 in x)]

# Print or export
print(filtered_df)
# df.to_csv("cleaned_output.csv", index=False)

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [10]:
import pandas as pd
import numpy as np

# Load the CSV
df = pd.read_csv("BOPI_MQ_TM_1922.csv")

# Function to clean and convert the "Numéro de classe" values
def parse_numero_de_classe(val):
    if pd.isna(val):  # Handles NaN
        return []
    if isinstance(val, (int, float)):
        return [int(val)]
    if isinstance(val, str):
        # Remove unwanted trailing punctuation and whitespace
        val = val.strip().rstrip('.')
        # Split on commas and convert to int
        return [int(v.strip()) for v in val.split(',') if v.strip().isdigit()]
    return []

# Apply to the "Numéro de classe" column
df["Numéro de classe"] = df["Numéro de classe"].apply(parse_numero_de_classe)

# View sample rows
print(df[["Noms des déposants", "Numéro de classe"]].head(10))

# Optional: Save cleaned version
df.to_csv("cleaned_bopi.csv", index=False)

                                  Noms des déposants  \
0  Aachener Thermalwasser Kaiserbrunnen A G (Soci...
1                                 Abadie (Mlle M.L.)
2               Abadie (Société anonyme des Papiers)
3                                Abadie Léotard (E.)
4                           Abbat (G.) & Guenet (M.)
5                                       Page réelle.
6                                     Abbond (R.V.).
7                          Abécassis frères (C. &F.)
8     Abel-Bresson (Société anonyme Établissements).
9                                         Abélé (H.)

                       Numéro de classe
0                                 [888]
1                                 [584]
2  [1088, 1737, 1793, 1794, 1795, 1796]
3                            [506, 538]
4                                [1464]
5                                [1554]
6                                 [970]
7                                 [852]
8                                 [887]
9                                  [51]

In [16]:
import re

df = pd.read_csv("cleaned_bopi.csv")
# Function to extract all numbers using regex
def extract_numbers_regex(val):
    if pd.isna(val):
        return []
    numbers = re.findall(r'\d+', str(val))  # Finds all digit sequences
    return [int(num) for num in numbers]

extract_numbers_regex(2)

[2]

In [20]:
import re

df = pd.read_csv("bopi_exploded.csv")

# Function to extract numbers using regex
def extract_numbers_regex(val):
    if pd.isna(val):
        return []
    return [int(num) for num in re.findall(r"\d+", str(val))]


extract_numbers_regex(2)

[2]

In [2]:
import pandas as pd
import re

# Load CSV
df = pd.read_csv("BOPI_MQ_TM_1922.csv")

# Function to extract numbers using regex
def extract_numbers(val):
    if pd.isna(val):
        return []
    return [int(num) for num in re.findall(r'\d+', str(val))]

# Apply the function to the "Numéro de classe" column
df["Numéro de classe"] = df["Numéro de classe"].apply(extract_numbers)

# Explode the column so each number gets its own row
df_exploded = df.explode("Numéro de classe", ignore_index=True)

# Optional: Save or view
df_exploded.to_csv("bopi_exploded.csv", index=False)

In [5]:
df = pd.read_csv("bopi_exploded.csv")
df[df["Numéro de classe"]==2]

,Année du BOPI,Numéro de pages du BOPI,Lettres alphabétiques,Noms des déposants,Numéro de classe,Numéro des pages correspondantes,ERRATA,Numéro de la marque,Renonciation totale,Renonciation partielle
19,1922,5,A,Abramovici (E.).,2.0,NaN,NaN,NaN,NaN,NaN
184,1922,5,A,Amieux frères & Cie (Société).,2.0,"761, 766, 767, 768, 769, 915, 1311, 1437, 1438...",NaN,NaN,NaN,NaN
2740,1922,14,C,Cô Hien,2.0,NaN,NaN,NaN,NaN,NaN
2871,1922,14,C,Compagnie Française de l’Afrique Occidentale.,2.0,NaN,NaN,NaN,NaN,NaN