In [4]:
import pandas as pd

In [ ]:
df = pd.read_csv("FRINPI_BOPIMQ_TM_1922.csv")

In [6]:
df.head()

,Année du BOPI,Numéro de pages du BOPI,Lettres alphabétiques,Chiffres des marques,Dénomination des marques,Emblême,Numéro de classe,Numéro des pages correspondantes,ERRATA,Numéro de la marque,Renonciation totale,Renonciation partielle
0,1922,57,A,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1922,57,A,NaN,A (Cire),NaN,33,10,NaN,NaN,NaN,NaN
2,1922,57,A,NaN,A.,NaN,47,13,NaN,NaN,NaN,NaN
3,1922,57,A,NaN,A,NaN,68,290,NaN,NaN,NaN,NaN
4,1922,57,A,NaN,A,NaN,8,791,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['Année du BOPI', 'Numéro de pages du BOPI', 'Lettres alphabétiques',
       'Chiffres des marques', 'Dénomination des marques', 'Emblême',
       'Numéro de classe', 'Numéro des pages correspondantes', 'ERRATA',
       'Numéro de la marque', 'Renonciation totale', 'Renonciation partielle'],
      dtype='object')

In [12]:
df2 = pd.read_csv("bopi_exploded.csv")

In [13]:
df.columns

Index(['Année du BOPI', 'Numéro de pages du BOPI', 'Lettres alphabétiques',
       'Chiffres des marques', 'Dénomination des marques', 'Emblême',
       'Numéro de classe', 'Numéro des pages correspondantes', 'ERRATA',
       'Numéro de la marque', 'Renonciation totale', 'Renonciation partielle'],
      dtype='object')

In [14]:
df2.columns

Index(['Année du BOPI', 'Numéro de pages du BOPI', 'Lettres alphabétiques',
       'Noms des déposants', 'Numéro de classe',
       'Numéro des pages correspondantes', 'ERRATA', 'Numéro de la marque',
       'Renonciation totale', 'Renonciation partielle'],
      dtype='object')